In [1]:
import pandas as pd
import seaborn as sns
from scipy import stats
import matplotlib.pyplot as plt

In [2]:
# Keep only certain columns
mpg = pd.read_csv('datasets/mpg/mpg.csv', usecols = ['mpg', 'weight', 'horsepower', 'origin', 'cylinders'])
mpg.head()

    mpg  cylinders  horsepower  weight origin
0  18.0          8         130    3504    USA
1  15.0          8         165    3693    USA
2  18.0          8         150    3436    USA
3  16.0          8         150    3433    USA
4  17.0          8         140    3449    USA

In [3]:
# Descriptive statistics
mpg.describe()

              mpg   cylinders  horsepower       weight
count  392.000000  392.000000  392.000000   392.000000
mean    23.445918    5.471939  104.469388  2977.584184
std      7.805007    1.705783   38.491160   849.402560
min      9.000000    3.000000   46.000000  1613.000000
25%     17.000000    4.000000   75.000000  2225.250000
50%     22.750000    4.000000   93.500000  2803.500000
75%     29.000000    8.000000  126.000000  3614.750000
max     46.600000    8.000000  230.000000  5140.000000

In [4]:
pd.crosstab(index=mpg['origin'], columns='count')

col_0   count
origin
Asia       79
Europe     68
USA       245

In [5]:
pd.crosstab(index=mpg['origin'], columns=mpg['cylinders'])

cylinders  3   4  5   6    8
origin
Asia       4  69  0   6    0
Europe     0  61  3   4    0
USA        0  69  0  73  103

In [6]:
# Descriptive statistics by group
mpg.groupby('origin').describe()['mpg']

        count       mean       std   min    25%   50%     75%   max
origin
Asia     79.0  30.450633  6.090048  18.0  25.70  31.6  34.050  46.6
Europe   68.0  27.602941  6.580182  16.2  23.75  26.0  30.125  44.3
USA     245.0  20.033469  6.440384   9.0  15.00  18.5  24.000  39.0

In [7]:
# Histogram of mpg
sns.displot(data=mpg, x='mpg')

AttributeError: module 'seaborn' has no attribute 'displot'

In [ ]:
# Box plot of mpg by origin
sns.boxplot(x='origin', y='mpg', data=mpg, color='blue')

In [ ]:
sns.displot(data=mpg, x="mpg", col="origin")

In [ ]:
usa_cars = mpg[mpg['origin']=='USA']
europe_cars = mpg[mpg['origin']=='Europe']

In [ ]:
stats.ttest_ind(usa_cars['mpg'], europe_cars['mpg'])

In [ ]:
mpg[['mpg','horsepower','weight']].corr()

In [ ]:
# Scatter plot of weight and mpg, add a label
sns.scatterplot(mpg['weight'],mpg['mpg'])
plt.title("Relationship between weight and mileage")

In [ ]:
sns.pairplot(mpg[['mpg','horsepower','weight']])

In [ ]:
# Linear regression of weight on mpg
stats.linregress(x=mpg['weight'], y=mpg['mpg'])

In [ ]:
sns.regplot(x="weight", y="mpg", data=mpg)

In [ ]:
import random
from sklearn import linear_model
from sklearn import model_selection
from sklearn import metrics