In [1]:
import pandas as pd
import seaborn as sns

star = pd.read_excel('datasets/star/star.xlsx')
star.head()

Bad key savefig.frameon in file C:\Users\User\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle, line 421 ('savefig.frameon : True')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.3.2/matplotlibrc.template
or from the matplotlib source distribution

Bad key verbose.level in file C:\Users\User\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle, line 472 ('verbose.level  : silent      # one of silent, helpful, debug, debug-annoying')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.3.2/matplotlibrc.template
or from the matplotlib source distribution

Bad key verbose.fileo in file C:\Users\User\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle, line 473 ('verbose.fileo  : sys.stdout  # a log filename, sys.stdout or sys.stderr')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.3.2/matplotlibrc.template
or from the matplotlib source distribution
In C:\Users\User\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The text.latex.preview rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\User\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The mathtext.fallback_to_cm rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\User\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle: Support for setting the 'mathtext.fallback_to_cm' rcParam is deprecated since 3.3 and will be removed two minor releases later; use 'mathtext.fallback : 'cm' instead.
In C:\Users\User\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The validate_bool_maybe_none function was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\User\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The savefig.jpeg_quality rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\User\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The keymap.all_axes rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\User\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_path rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\User\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_args rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.

,id,tmathssk,treadssk,classk,totexpk,sex,freelunk,race,schidkn
0,1,473,447,small.class,7,girl,no,white,63
1,2,536,450,small.class,21,girl,no,black,20
2,3,463,439,regular.with.aide,0,boy,yes,black,19
3,4,559,448,regular,16,boy,no,white,69
4,5,489,447,small.class,5,boy,yes,white,79

In [2]:
math_scores = star['tmathssk']
type(math_scores)

pandas.core.series.Series

In [3]:
math_scores = star[['tmathssk']]
type(math_scores)

pandas.core.frame.DataFrame

In [4]:
star = star[['tmathssk','treadssk','classk','totexpk','schidkn']]
star.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5748 entries, 0 to 5747
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tmathssk  5748 non-null   int64
 1   treadssk  5748 non-null   int64
 2   classk    5748 non-null   object
 3   totexpk   5748 non-null   int64
 4   schidkn   5748 non-null   int64
dtypes: int64(4), object(1)
memory usage: 224.7+ KB

In [5]:
star = star.drop('schidkn',axis=1)
star.columns

Index(['tmathssk', 'treadssk', 'classk', 'totexpk'], dtype='object')

In [6]:
star['new_column'] = star['tmathssk'] + star['treadssk']
print(star.head())

   tmathssk  treadssk             classk  totexpk  new_column
0       473       447        small.class        7         920
1       536       450        small.class       21         986
2       463       439  regular.with.aide        0         902
3       559       448            regular       16        1007
4       489       447        small.class        5         936

In [7]:
star = star.rename(columns = {'new_column':'ttl_score'})
star.columns

Index(['tmathssk', 'treadssk', 'classk', 'totexpk', 'ttl_score'], dtype='object')

In [8]:
print(star.sort_values(by=['classk','tmathssk']).head())

      tmathssk  treadssk   classk  totexpk  ttl_score
309        320       360  regular        6        680
1470       320       315  regular        3        635
2326       339       388  regular        6        727
2820       354       398  regular        6        752
4925       354       391  regular        8        745

In [9]:
print(star.sort_values(by='classk',ascending=False).head())

      tmathssk  treadssk       classk  totexpk  ttl_score
0          473       447  small.class        7        920
2860       459       428  small.class       14        887
2869       500       440  small.class       18        940
1          536       450  small.class       21        986
2879       468       443  small.class        2        911

In [10]:
# Sort by class size ascending and math score descending
print(star.sort_values(by=['classk','tmathssk'], ascending=[True,False]).head())

      tmathssk  treadssk   classk  totexpk  ttl_score
724        626       474  regular       15       1100
1466       626       554  regular       11       1180
1634       626       580  regular       15       1206
2476       626       538  regular       20       1164
2495       626       522  regular        7       1148

In [11]:
small_class = star['classk']=='small.class'
small_class.head()

0     True
1     True
2    False
3    False
4     True
Name: classk, dtype: bool

In [12]:
star_filtered = star[small_class]
star_filtered.shape

(1733, 5)

In [13]:
star.shape

(5748, 5)

In [14]:
star_filtered = star[star['treadssk'] >= 500]

print(star.shape)
print(star_filtered.shape)

(5748, 5)
(233, 5)

In [15]:
star_filtered = star[(star['treadssk']>=500) & (star['classk']=='small.class')]
star_filtered.shape

(84, 5)

In [16]:
star_grouped = star.groupby('classk')
star_grouped

In [17]:
star_grouped[['tmathssk']].mean()

                     tmathssk
classk
regular            483.261000
regular.with.aide  483.009926
small.class        491.470283

In [18]:
print(star.groupby('totexpk')[['ttl_score']].max().head())

         ttl_score
totexpk
0             1171
1             1133
2             1091
3             1203
4             1229

In [19]:
star = pd.read_excel('star.xlsx')
districts = pd.read_excel('district-names.xlsx')
star.merge(districts,how='left').head()

FileNotFoundError: [Errno 2] No such file or directory: 'star.xlsx'

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
sns.countplot(x='classk',data=star)

In [ ]:
sns.histplot(x='treadssk', data=star)

In [ ]:
sns.histplot(x='treadssk', data=star, bins=25, color='black')

In [ ]:
sns.boxplot(x='treadssk', data=star)

In [ ]:
sns.boxplot(y='treadssk', data=star)

In [ ]:
sns.boxplot(x='classk',y='treadssk',data=star)

In [ ]:
sns.scatterplot(x='tmathssk',y='treadssk',data=star)

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
sns.scatterplot(x='tmathssk',y='treadssk',data=star)
plt.xlabel('Total math scaled score')
plt.ylabel('Total reading scaled score')
plt.title('Relationship between total math and reading scaled scores')

In [ ]:
?seaborn

In [ ]:
help(sns)

In [ ]:
import seaborn as sns
?sns

In [ ]:
help(seaborn)

In [ ]:
help(sns)