In [1]:
import pandas as pd


import random
from sklearn import linear_model
from sklearn import model_selection
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

In [2]:
mpg = pd.read_csv('../datasets/mpg/mpg.csv')
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model.year,origin,car.name
0,18.0,8,307.0,130,3504,12.0,70,USA,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,USA,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,USA,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,USA,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,USA,ford torino

In [3]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(mpg[['weight']], mpg[['mpg']])

In [4]:
# Create linear regression object
regr = linear_model.LinearRegression()

# Train the model using the training sets
regr.fit(X_train, y_train)

# Make predictions using the testing set
y_pred = regr.predict(X_test)

In [5]:
X_train.shape

(294, 1)

In [6]:
X_test.shape

(98, 1)

In [5]:
regr.coef_

array([[-0.00763325]])

In [6]:
r2_score(y_test, y_pred)

0.6834138186078855